<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Projeto com Brasil API</li>
  </ol>
</nav>

<div class="d-flex align-items-start">

  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">CEP</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">CNPJ</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">DDD</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Bancos</button>
  </div>
  
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="card add-city">
        <p class="card-header">Pesquisar</p>
        <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && getCity(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="cep" class="cep-label">CEP</label>
              <input type="text" [(ngModel)]="city.cep" id="cep" name="cep" #cep="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cep.invalid }" placeholder="Digite o CEP">
              <div *ngIf="f.submitted && cep.invalid" class="invalid-feedback">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </form>
        </div>
      </div>
    
      <div class="card list-city">
        <p class="card-header">Lista Cidades</p>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CEP</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col">Bairro</th>
                <th scope="col">Rua</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let city of cities">
                <td>{{city.cep}}</td>
                <td>{{city.state}}</td>
                <td>{{city.city}}</td>
                <td>{{city.neighborhood}}</td>
                <td>{{city.street}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>

    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>

    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    
  </div>
</div>